{% extends "base.html" %}

{% block content %}
<div class="card">
    <!-- CENTERED TITLE -->
    <h1 class="text-center">About QRGenie</h1>
    <p>This is a Flask Python application designed to generate high-quality QR codes.</p>
    
    <p><strong>Made by:</strong> Zachory Pelletier</p>

    <br>
    <p>It was converted from a standard Python GUI script to a Web Application to run in the browser.</p>
    <br>
    <p><strong>Tech Stack:</strong> Python, Flask, Pillow (PIL), HTML/CSS.</p>
</div>
{% endblock %}