{% extends "base.html" %}

{% block content %}
<div class="card">
    <!-- CENTERED TITLE -->
    <h1 class="text-center">Instructions</h1>
    <ul class="list" style="list-style: none;">
        <li><strong>Step 1:</strong> Go to the QR Code Generator or Batch QR Code Generator tab.</li>
        <li style="margin-top: 10px;"><strong>Step 2:</strong> Enter a URL (e.g., https://google.com) or plain text.</li>
        <li style="margin-top: 10px;"><strong>Step 3:</strong> Use the sliders to increase the image size (resolution) and border width.</li>
        <li style="margin-top: 10px;"><strong>Step 4:</strong> Pick a color for QR code and its border (Dark colors on white backgrounds scan best). You can also select different shapes (Rounded, Circles, etc.).</li>
        <li style="margin-top: 10px;"><strong>Step 5:</strong> Click "Generate" (if in Batch mode) and then "Save" to download your generated QR code as a PNG.</li>
    </ul>
</div>
{% endblock %}